//  use this ommand in the terminal to watch scss
//  sass --watch style.scss style.css
* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
   
   
   
  }
  html {
    padding: 0;
    font-size: 10pt;
    line-height: 1.4;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-text-size-adjust: 100%;
  };
 

.nav-list{
    // display: none;
};

nav{
display: flex;
justify-content: space-between

};
.navbar{
    // border: 2px rgb(0, 255, 94) solid;
    height: 10vh;
    
   
   
  

}
.navbar-nav {
   
    
    a{ font-size: 15px;
    text-transform: uppercase;
font-weight: 500;}
}
.navbar-toggler-icon{
  
}


.masthead {
    background-image:url("assets/images/mobile/image-hero.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
    
    background-repeat: no-repeat;
   
//   background-size: cover;

   
    
}
.color-overlay{
    // border: yellow solid 3px;
    display: flex;
  
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 90vh;
    .h1-dt{
        display: none;

    }
}

    .h1-box{
        border: solid 1px white;
        width: 100%;
        margin: 0 28px;
      

        
    }
    h1 {
       
        display: flex;
//   flex-direction: column;

        
        // height: 200px;
        
        justify-content: left;
        align-items: center;
        font-size: 2rem;
        color: white;
        margin: 20px;
        width: 80%;
      
        font-family: "Alata",sans-serif;
        letter-spacing:0.1em;
        
        // padding: 20px 100px 20px 20px;
        
        font-weight: lighter;
        


    }

h2  {
    text-align: center;
    
    font-family: "Alata",sans-serif;
    color:  hsl(0, 0%, 41%);
    font-size: 26px;
    p{
        font-size: 15px;
        font-family: "Josefin",sans-serif;
       
    }
}


.container{
    padding: 0 28px;

    img{
        width:100%

    }
}

.our-creation{
    margin-top: 90px

 
};
.img-wrapper{
    border: solid 5px red;
    position: relative;
  text-align: center;
  color: white;

};
.bottom-left{
    position: absolute;
    font-family:"Alata",sans-serif;
    color:  hsl(0, 0%, 41%);
    font-size: 16px;
    bottom: 24px;
    left: 24px;
    text-align: left;
    

}

.under-hero{
    // border: rgb(237, 46, 167) solid 1px;
  
    

}

.under-hero-img{
    margin: 40px 0;
    
    

};
.url-1{
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.3)
    ),
      url(assets/images/mobile/image-deep-earth.jpg);

}
.url-2{
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)
    ),
      url(assets/images/mobile/image-night-arcade.jpg);

}
.url-3{
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.3)
      ),
      url(assets/images/mobile/image-soccer-team.jpg);

}
.url-4{
    background: 
          linear-gradient(
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.3)
      ),
      url(assets/images/mobile/image-grid.jpg);

}
.url-5{
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.3)
    ),
      url(assets/images/mobile/image-from-above.jpg);

}
.url-6{
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.3)
      ),
      url(assets/images/mobile/image-pocket-borealis.jpg);

}
.url-7{
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)
    ),
      url(assets/images/mobile/image-curiosity.jpg);

}
.url-8{
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)
    ),
      url(assets/images/mobile/image-fisheye.jpg);

}



.module {
    margin: 10px 0;
    
    background-size: cover;
    width: 100%;
    height: 120px;
    
    position: relative;
    float: left;
  }
  .lr p {
    font-family: 'Josefin', sans-serif;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: darkgray;
    margin: 0;
    text-align: start;
    font-size:  25px; 
    line-height: 25px;
    font-weight:50;
  }

  .button-wrapper{
    text-align: center;
    button{
        border:1px solid darkgrey;
        font-family: 'Alata', Arial, sans-serif;
    }
    
  }
  .cta-1{
    width: 50%;
    font-family: 'Josefin', sans-serif;
    padding: 5px 0;
    margin-top: 20px;
    margin-bottom: 60px;
    

  }
  footer{
    
    padding: 50px 0;
    p{
        margin-top: 20px;
        color:darkgrey;
        

    }
    background-color: black;
    text-align: center;
    ul{
        list-style-type: none;
        padding: 0;
      li{
        margin: 20px 0;
        a {
            color: white;
           

        }
       
      }
       
      }
  }
  .logo-footer{
    width: 20%;
  }
  
  a{
    text-decoration: none;
  }
  .social-media{
    a{
        color: white;
        margin: 0 5px;
        font-size: large;
       
    }
  }

/*xxxxx Media Queries at min-width  768px  xxxxxxx */

@media screen and (min-width: 768px) {

  
.nav-list{
  display: block;
};

nav{
display: flex;
justify-content: space-between

};
.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: rgb(245, 240, 240);
  color: white;
}
.nav-list-footer a:hover{
  text-decoration: underline;
  text-decoration-color: rgb(245, 240, 240);
  color: white;


}
.fa:hover{
  border: solid 1px grey;
  padding: 0 2px;

}
.navbar{
  
  height: 10vh;
  
 
 


}
.navbar-nav {
 
 
  a{ font-size: 15px;
  text-transform: uppercase;
font-weight: 500;
color:white
}

}
.color-overlay{
  // border: yellow solid 3px;
  display: flex;

  align-items: center;
  justify-content: left;
  position: absolute;
  width: 100%;
  height: 90vh;

}
.under-hero{
 
  // height: auto;
  margin-top: 160px;
  padding: 0;

  
}
.under-hero-img{

  margin: 0;
  width: 50%;
  height:500px
 


}
.under-hero-text{
  position: relative;
  left: 40%;
  top: -250px;
  text-align: left;
  
  width: 50%;
  height:300px;
  background-color: white;
  padding: 50px 50px;
  h2{
    text-align: left;
  }

}
h2{
  text-align: left;
}
.lr{
  height: 450px;
}
.module {
  height: 28rem;
    width: 15.22rem;
    margin: 0;
  
  
 
  background-repeat:no-repeat ;


 
  
  // position: relative;
  // float: left;
}

.img-grid{
  display: grid;
  grid-template:
  'h2-our h2-our h2-our h2-our  '
    'url-1 url-2 url-3 url-4  '
    'url-5 url-6 url-7 url-8  ';
    
  grid-gap:10px;


  




}
.cta-1{
  width: 15%;
  font-family: 'Josefin', sans-serif;
  padding: 5px 0;
  margin-top: 20px;
  margin-bottom: 60px;
  

}
.container-f{
  display: flex;
  flex-direction: row;
  padding: 5%;
  
  
}
.nav-list-footer{
  display: flex;
}
.f-left{
  width: 30%;
  text-align: left;
  

}
.f-right{
  text-align: right;
 

  width: 70%;
}
.nav-list-footer{
  display: flex;
  justify-content: space-between;
}
  
  

}


